/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

#input_container {
  position:relative;
  padding:0 0 0 20px;
  margin:0 20px;
  background:#ddd;
  direction: rtl;
  width: 200px;
}
#input {
  height:20px;
  margin:0;
  padding-right: 30px;
  width: 100%;
}
#input_img {
  position:absolute;
  bottom:2px;
  right:5px;
  width:24px;
  height:24px;
}